html {   
    min-width: 320px;   
    max-width: 1400px; 
}

.cuerpo{
    background-color: aqua;
    margin: 0px;
}

.items{
    display: inline;
    margin: 0 0 0 15px;
    text-align: center;
    justify-content: center;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}
nav {
    position: relative;
    display:flex;
    justify-content: center;
}

.caja {
    display:flex;
    background-color: teal;
    align-items: center;
    justify-content: space-around;
    width: 1345px;
    position: relative;
    margin: 0px auto; 
}
.aboutMe{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    background: #2f445c;
}
.presentacion{
    display: flex;
    text-align: start;
    align-items: center;
    flex-direction: column;
    padding: 80px;
}

.titulo-about{
    position: absolute;
    color: black;
    bottom: 80%;
    text-decoration: underline;
    left: 45%;
}

.titulo{
    text-align: center;
    text-decoration: underline;
    color: black;
}

.about{
    display: inline-block;
    align-items: right;
}

.imagen-principal{
    width: 20%;
    height: 40%;
    border-radius: 20%;
    border: solid 2px #0044ff;
    display: flex;
    align-items: left;
    justify-content: left;
    margin: 18px;
    object-fit: cover;
}

.habilidades{
    position: relative;
    display: block;
    padding: 10%;
    bottom: 100px;
}


.habilidad-html{
    width: 15%;
    background-color: #FFFFFF;
    border-radius: 0.5em;
    padding: 30px;
    left: 15%;
    position: absolute;
    top: 80%;
    height: 15%;
}

.html{
    position: absolute;
    border-radius: 20%;
    width: 40%;
    display: inline;
    top: 20%;
    left: 30%;
    height: 65%;
}

.css{
    position: absolute;
    top: 10%;
    left: 30%;
    border-radius: 20%;
    width: 45%;
    height: 80%;
}

.habilidad-css{
    width: 15%;
    height: 15%;
    background-color: #2f445c;
    border-radius: 0.5em;
    padding: 30px;
    position: absolute;
    top: 80%;
    left: 45%;
}

.habilidad-js{
    width: 15%;
    height: 15%;
    background-color: #2f445c;
    border-radius: 0.5em;
    padding: 30px;
    position: absolute;
    top: 80%;
    left: 75%;
    background-color: #FFFFFF;
}

.imagen-js{
    position: absolute;
    top: 10%;
    left: 30%;
    border-radius: 20%;
    width: 45%;
    height: 80%;
}

.formacion{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #2f445c;
    top: 100px;
    width: 100%;
    height: 255px;
}


.titulo-formacion{
    display: flex;
    position: relative;
    padding: 0;
    text-align: center;
    text-decoration: underline;
    align-items: center;
    justify-content: space-around;
}
.unq{
    display: flex;
    position: relative;
    
}

.lista-unq{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.items-unq{
    display: inline;
    position: relative;
    margin: 155px 300px 0 15px;
    text-align: center;
    justify-content: center;
}

.items-unq p{
    font-size: large;
    font-style: italic;
    background-color: #FFFFFF;
}

.items-alura{
    display: flex;
    position: relative;
    margin: 0 15px 0 15px;
    text-align: center;
    justify-content: center;
    left: 152px;
}
.parrafo-alura{
    font-style: italic;
    color: blue;
    background-color: #FFFFFF;
    text-align: center;
    justify-content: baseline;
}

.mi-contacto{
    display: flex;
    position: relative;
    padding: 10%;
    align-items: baseline;
    justify-content: space-around;
}

.titulo-contacto{
    display: inline-block;
    position: absolute;
    background-color: #0044ff;
    border-radius: 0.5em;
    text-align: center;
    justify-content: center;
    text-decoration: underline;
    width: 13%;
}

.tipos-contacto{
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 50%;
    margin-top: 100px;
    background-color: blue;
    padding: 10px;
}

.social-linkedin{
    display: inline-block;
    font-size: 40px;
    width: 50px;
    height:50px;
    margin: 0 10px;
    background-size: 50px 50px;
    text-decoration: none;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 100%;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.social-instagram{
    display: inline-block;
    font-size: 40px;
    width: 50px;
    height:50px;
    margin: 0 10px;
    background-size: 50px 50px;
    text-decoration: none;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 100%;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.social-github{
    display: inline-block;
    font-size: 40px;
    width: 50px;
    height:50px;
    margin: 0 10px;
    background-size: 50px 50px;
    text-decoration: none;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 100%;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.rodapie{
    display: flex;
    position: relative;
    background-color: black;
    height: 50px;
    width: 100%;
    margin-top: 8%;
    
}

.letra-derecho{
    color: white;
    display: inline-block;
    position: absolute;
    padding-left: 10%;
}

.letra-design{
    color: white;
    display: inline-block;
    position: absolute;
    text-align: end;
    padding-left: 80%;
}